.body-navbar {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
}

.nav-links {
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #27ae60;
    padding: 20px 15px;
}

.nav-links li {
    list-style: none;
    margin: 0 12px;
}

.nav-links li .nav-buttons {
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
}

.nav-links li .nav-buttons:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: white;
    border-radius: 12px;
    transition: all 0.4s ease;
}

.nav-links li .nav-buttons:hover:before {
    width: 100%;
}

.nav-links li.center .nav-buttons:before {
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li.upward .nav-buttons:before {
    width: 100%;
    bottom: -5px;
    opacity: 0;
}

.nav-links li.upward .nav-buttons:hover:before {
    bottom: 0px;
    opacity: 1;
}

.nav-links li.forward .nav-buttons:before {
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.nav-links li.forward .nav-buttons:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.icons{
    font-size: 30px;
}

.git-click {
    /* position: relative;  */
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    transition: .5s;
  }
  
  .git-click::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: white;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  .git-click:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px white;
    color: white;
  }
  
  .git-click:hover {
    color: white;
    box-shadow: 0 0 5px white;
    text-shadow: 0 0 5px white;
  }
  
  
  .ul_git {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
  }
  
  .li_git {
    list-style: none;
    margin: 0 15px;
  }
  
  .size_git{
    margin-top: 10px;
    font-size: 40px;
    cursor: pointer;
  }
  
  .git-click :link :hover
  {
     color: white;
     text-decoration: none;
  }
  
  a.git-click:hover
  {
     color: white;
     text-decoration: none;
  }